@page
@model GuguDadah.Pages.Babysitters
@{
    ViewData["Title"] = "Babysitters";
}

<h2>Lista de Babysitters</h2>

@section head
    {
    <link href="~/lib/bootstrap/dist/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/theme.css" media="all" rel="stylesheet" type="text/css" />

}

@section Scripts
    {
    <script src="~/lib/bootstrap/dist/js/star-rating.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/theme.js"></script>
    <script>
        $(document).on('ready', function () {
            $('.kv-ltr-theme-svg-star').rating({
                hoverOnClear: false,
                theme: 'krajee-svg'
            });
        });
    </script>
}
<div class="row">
    <div class="col-sm-6 mainContentWrapper">
        <div class="well">
            <form>
                <input id="input-3" name="input-3" value="2" class="rating" data-filled="glyphicon glyphicon-heart" data-empty="glyphicon glyphicon-heart-empty"
                       data-show-clear="false" data-show-caption="false">
                <button class="btn btn-primary">Submeter</button>
            </form>
        </div>
    </div>
</div>


@if (Model.ClientHistoryList != null) {

    <h4>Histórico de trabalhos</h4>
    <hr />

    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.ClientHistoryList) {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="panel panel-blue userlist">
                        <div class="panel-body text-center">
                            <div class="userprofile">
                                <div class="userpic"> <img src="data:image/jpeg;base64,@System.Convert.ToBase64String(item.Professional.Avatar)" alt="" class="userpicimg"> </div>
                                <h3 class="username">@item.Professional.Name</h3>
                                <input type="hidden" class="rating" disabled="disabled" value="@item.Professional.Rating" data-show-clear="false" data-show-caption="false" data-size="xs" />
                            </div>
                            <br>
                            <p>Data </p>
                            <p>Preço: @item.Cost</p>
                            <p>Morada: @item.Address</p>
                            <input type="hidden" class="rating" disabled="disabled" value="@item.Rating" data-show-clear="false" data-show-caption="false" data-size="xs" />
                            <div class="panel-footer">
                                <a class="btn btn-primary btn-block" asp-page-handler="ChoosedProfessional">Avaliar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}


