@page
@model GuguDadah.Pages.ChooseBabysitter
@{
    ViewData["Title"] = "Escolha do Babysitter";
}

<h2>Lista de Babysitters</h2>

@section head
    {
    <link href="~/lib/bootstrap/dist/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/theme.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/cards.css" media="all" rel="stylesheet" type="text/css" />

}

@section Scripts
    {
    <script src="~/lib/bootstrap/dist/js/star-rating.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/theme.js"></script>
    <script>
        $(document).on('ready', function () {
            $('.kv-ltr-theme-svg-star').rating({
                hoverOnClear: false,
                theme: 'krajee-svg'
            });
        });
    </script>
}

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model.lista) {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-blue userlist">
                    <div class="panel-body text-center">
                        <div class="userprofile">
                            <div class="userpic"> <img src="data:image/jpeg;base64,@System.Convert.ToBase64String(item.Avatar)" alt="" class="userpicimg"> </div>
                            <h3 class="username">@item.UserName</h3>
                            <p>New York, USA</p>
                        </div>
                        <strong>Information</strong><br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere.<br>
                            <br>
                        <p>Turno: @item.Shift</p>
                        <p>@item.Email | @item.Contact</p>
                        <input type="hidden" class="rating" disabled="disabled" value="@item.Rating" data-show-clear="false" data-show-caption="false" data-size="xs" />
                        <div class="panel-footer">
                            <a class="btn btn-primary btn-block" asp-page-handler="ChoosedProfessional" asp-route-username="@item.UserName">Selecionar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>






