@page
@model GuguDadah.Pages.ChooseBabysitter
@{
    ViewData["Title"] = "Babysitters";
}

@section head
    {
    <link href="~/lib/bootstrap/dist/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/theme.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/cards.css" media="all" rel="stylesheet" type="text/css" />

}

@section Scripts
    {
    <script src="~/lib/bootstrap/dist/js/star-rating.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/theme.js"></script>
    <script>
        $(document).on('ready', function () {
            $('.kv-ltr-theme-svg-star').rating({
                hoverOnClear: false,
                theme: 'krajee-svg'
            });
        });
    </script>
}


@if (Model.ChooseBabysitters == 1) {

    <h4>Escolha de Babysitter</h4>
    <hr />

    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.list) {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="panel panel-blue userlist">
                        <div class="panel-body text-center">
                            <div class="userprofile">
                                <div class="userpic"> <img src="data:image/jpeg;base64,@System.Convert.ToBase64String(item.Avatar)" alt="" class="userpicimg"> </div>
                                <h3 class="username">@item.Name</h3>
                                <input type="hidden" class="rating" disabled="disabled" value="@item.Rating" data-show-clear="false" data-show-caption="false" data-size="xs" />
                            </div>
                            <br>
                            <p><strong>Data de registo:</strong> @item.RegistrationDate.ToShortDateString()</p>
                            <p>@item.Presentation</p>
                            <div class="panel-footer">
                                <form asp-page-handler="ChoosedProfessional" asp-page="ChooseBabysitter" asp-route-username="@item.UserName" method="post">
                                    <button type="submit" class="btn btn-default">Selecionar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (Model.ShowBabysitters == 1) {

    <h4>Babysitters</h4>
    <hr />

    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.list) {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="panel panel-blue userlist">
                        <div class="panel-body text-center">
                            <div class="userprofile">
                                <div class="userpic"> <img src="data:image/jpeg;base64,@System.Convert.ToBase64String(item.Avatar)" alt="" class="userpicimg"> </div>
                                <h3 class="username">@item.Name</h3>
                                <input type="hidden" class="rating" disabled="disabled" value="@item.Rating" data-show-clear="false" data-show-caption="false" data-size="xs" />
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}






