@page
@model Register
@{
    ViewData["Title"] = "Registo";
}

<div class="row">
    <div class="col-sm-6 mainContentWrapper">
        <div class="well">
            @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" })) {
                @Html.AntiForgeryToken()
                <h4>Criar conta</h4>
                <hr />
                <section>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.UserName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Client.UserName, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Client.Name, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Client.Email, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Contact, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Client.Contact, new { @class = "form-control", @type = "number" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Client.Password, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label asp-for="Avatar"></label>
                        <input type="file" asp-for="Avatar" />
                    </div>

                    @Html.ValidationSummary(false)

                    <div class="form-group">
                        <input type="submit" value="Registar" class="btn btn-default" />
                    </div>
                </section>
            }
        </div>
    </div>
</div>