@page
@model GuguDadah.Pages.Schedule
@{
    ViewData["Title"] = "Agendar trabalho";
}

<h4>Agendar trabalho</h4>
<hr />

@section head
    {

    <link href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" />

}

@section Scripts
    {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script>
        $("#mydate").datepicker({ dateFormat: "dd-mm-yy" }).datepicker("setDate", "0");
    </script>
    <script>
        $("#mydate1").datepicker({ dateFormat: "dd-mm-yy" }).datepicker("setDate", "0");
    </script>
}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="well">
            <form asp-page-handler="ReturningTempWork" asp-page="Schedule" method="post">

                <section>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Work.Address, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Work.Address, new { placeholder = "Rua das 7 casas, nº8", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
                        <p><input type="text" id="mydate" asp-for="StartDate" class="form-control"></p>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.StartTime, new { @class = "control-label" })
                        <p><input type="time" class="timepicker form-control" value="@DateTime.Now.ToShortTimeString()" asp-for="StartTime"></p>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.EndDate, new { @class = "control-label" })
                        <p><input type="text" id="mydate1" asp-for="EndDate" class="form-control"></p>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.EndTime, new { @class = "control-label" })
                        <p><input type="time" class="timepicker form-control" value="@DateTime.Now.ToShortTimeString()" asp-for="EndTime"></p>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Work.Observations, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Work.Observations, new { placeholder = "Comunicar informações relevantes...", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Type, new { @class = "control-label" })
                        <div>
                            <label>
                                @Html.RadioButtonFor(m => m.Type, "normal")
                                Normal - 10€/h
                            </label>
                        </div>
                        <div>
                            <label>
                                @Html.RadioButtonFor(m => m.Type, "study")
                                Acompanhamento ao estudo (acresce 10€/h)
                            </label>
                        </div>
                        <div>
                            <label>
                                @Html.RadioButtonFor(m => m.Type, "exterior")
                                Atividade lúdica no exterior (acresce 5€/h)
                            </label>
                        </div>
                    </div>

                    @Html.ValidationSummary(false)

                    <div class="form-group">
                        <input type="submit" class="btn btn btn-info pull-right" value="Continuar" />
                    </div>
                </section>
            </form>
        </div>
    </div>

</div>